.panelControlButton
{
    width: 40px;
    height: 40px;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--c-base-1);

    transition: all .3s var(--a-base);
}
.panelControlButton:hover
{
    background-color: var(--c-base-3);
}

.panelControlButton img
{
    width: 30px;
    height: 30px;
}

.active
{
    background-color: var(--c-accent-2);
}

.active:hover
{
    background-color: var(--c-accent-3) !important;
}