#root {
  margin: 0 auto;
  text-align: center;

  --c-base-1: #1a1a1a;
  --c-base-2: #2c2c2c;
  --c-base-3: #373737;
  --c-text-1: #ffffff;
  --c-text-2: #cacaca;
  --c-accent-1: #491793;
  --c-accent-2: #631ccf;
  --c-accent-3: #791eff;
  --c-alt-1: #fff;

  --c-transparent: #00000000;

  --a-base: cubic-bezier(0, 0, .2, 1)
}

